.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #121212, #1b1a24, #212237, #252b4c, #263461, #203d6b, #164575, #004e7f, #00557b, #005a72, #005d67, #0e605b);
}

.title {
    font-size: 5rem;
    color: #fff;

    animation: flipTitle 2s;
}

@keyframes flipTitle {
        0%,
        100% {
          transform: rotate(0deg);
          transform-origin: 50% 0;
        }
      
        10% {
          transform: rotate(2deg);
        }
      
        20%,
        40%,
        60% {
          transform: rotate(-4deg);
        }
      
        30%,
        50%,
        70% {
          transform: rotate(4deg);
        }
      
        80% {
          transform: rotate(-2deg);
        }
      
        90% {
          transform: rotate(2deg);
        }
      }

.containerInput {
  background-color: rgba(255, 255, 255, 0.2) ;
  padding: 15px;
  margin: 34px 0;
  display: flex;

  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}      

.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #fff;
  outline: none;
  margin-right: 8px;
}

.containerInput input::placeholder { 
  color: #f1f1f1;
}


.buttonSearch {
  background: transparent;
  border: 0;

  display: flex;
  justify-content:center;
  align-items: center;
  
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover { 
  transform:scale(1.5); /*Efeito de aumentar*/
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #fff;
  width: 500px;
  border-radius: 8px;
}

.main h2 {
  margin: 16px 0;
  font-size: 39px;
}

.main span {
  margin-bottom: 16px;
  font-weight:  bold;
}


@media(max-width: 620px) {
  .title {
    font-size: 60px;
  }

  .main h2 {
    font-size: 28px;
  }

  .main {
    width: 75%;
    min-height: 250px;
  }
}